**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/.idea
**/.vs
**/.vscode
**/Pilotic.sln.DotSettings.user
**/bin/
**/obj/
**/packages/
**/*.csproj.user
**/node_modules/
**/*.log
**/*.tmp
**/*.swp
**/*.swo
**/*.bak
**/*.user
**/*.suo
**/*.cache
